<%- include('../partials/header') %>

<h2>Enter New Ticket Info</h2>
  <form id="new-form" action="/flights/<%= flight %>/tickets" method="POST">
  <label>Seat Number:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price ($):</label>
  <input type="number" name="price">
  <input type="submit" value="Add Ticket">
  </form>

<%- include('../partials/footer') %>